.emotions.gray-block.layout-none
    .emotions__whitesheet
        .emotions-heading
            h2.emotions-heading__title Игра и эмоции
            p.introductory Игра может закончиться не в вашу пользу. Как справиться с эмоциями, если проиграл?
        .emotions-content.row
            .emotions-content__text
                p Сфокусируйтесь на получении удовольствия от процесса, а не на достижении результата. Потребность в спонтанности и игре - одна из важнейших эмоциональных потребностей каждого. Спонтанность - это про импровизацию, про свободу. Она прощает ошибки и отвергает прогнозы.
                p Примите поражение как часть ценного опыта и как часть игры. Подумайте, что можно улучшить, чтобы в следующий раз на шаг приблизиться к победе.
                p Секрет мотивации в отсутствии завышенных ожиданий.
                p Учитывайте, что так или иначе игры с количеством участников 2 и более, ориентированы на поиск способов сотрудничества  и взаимодействия. После подведения итогов игры  важно  сохранить отношения, чтобы потом была возможность играть и общаться снова.
                p Поздравьте соперника с победой. И помните - мозг сохраняет эффективные схемы, даже  когда наблюдает за тем, как играет другой. Обратите внимание на стратегии победителя, у него можно многому научиться.
            .emotions-content__img.img
                img(data-src="./img/nastya-games.webp" data-alt="Действуй играя - Мария")
