.principles.gray-block.layout-none
    .principles__whitesheet
        .principles-heading
            h3.gamification-heading__title Принципы создания игры
        .principles__row.row
            ul.principles-list
                li.principles-list__item Создаем питч или его прототип: рабочее название и краткое описание игры
                li.principles-list__item Scope проекта. Собираем данные и визуализируем их - увидеть будущий проект, как на ладони
                li.principles-list__item Создание концепции и методического обоснования
                li.principles-list__item Пока нет правил - нет игры. Задача сделать правила, понятными для себя. Учесть, что мозг любит головоломки. Но сильнее любит, когда получается
                li.principles-list__item Оценка перспектив и создание прототипа - MVP (минимально    жизнеспособной версии игры)
                li.principles-list__item Сессии  дизайн-мышления. Крутить. Менять. Клеить. Вырезать. Рисовать.   Принимать конструктивную критику. Вносить изменения
                li.principles-list__item Рассчитать показатели экономической эффективности
                li.principles-list__item Проверять. Много раз. И снова
                li.principles-list__item Увлечь, оформить, сделать интересным для себя. Показать другим. Апробировать.
            .principles__img
                img.principles__img(data-src="./img/mary-principles.webp")