.allows
    .allows-heading
        h2.allows-heading__title Игра позволяет
        p.allows-heading__subtitle Игра как среда
    .allows__row.row
        p - Управлять своей жизнью, временем
        p - Развивать стратегическое мышление
        p - Прокачать социальную компетентность
        p - Справиться с эмоциями
    .allows__with-bg.allows__row.row.layout-none
        p - Почувствовать себя ребенком
        p - Творчески решать задачи
        p - Снять стресс, напряжение
        p - Терпеливо идти к цели
