header.header
        a.logo
            include ../../components/circle/circle
        nav.header-menu
            ul.header-menu__list
                li.header-menu__item <a href="##">О нас</a>
                li.header-menu__item <a href="##">Игры</a>
                li.header-menu__item <a href="##">Пособия</a>
                li.header-menu__item <a href="##">Семинары</a>
                li.header-menu__item <a href="##">Мы в СМИ</a>
                //li.header-menu__item <a href="##">Связаться</a>
        include ../../components/burger/burger