.mechanics
    .mechanics-heading
        h3.mechanics-heading__title Механика игры
        p.mechanics-heading__subtitle.introductory Ядро любой игры - это ее игровая интрига
    .mechanics__row.row
        .mechanics__img.img
            p Это то, что в игре порождает  любопытство и желание добраться до истины, разгадать загадку.  Кульминационные механизмы, с которыми они взаимодействуют в игре.
            img(data-src="../img/mary-searching.webp" data-alt="Механика игры - Мария")
        .mechanics__text
            p Игровая интрига воплощает в себе метафоры - образы, на которые похожи предлагаемые инструкцией действия, особенности проведения, ресурсы и игровое пространство. Игровая интрига и метафора реализуются посредством игровых механик - наборов правил и способов взаимодействия во всем многообразии  интерактивного погружения игрока в игру.
            p На основе них создаются инструкции. Чем они логичнее, прозрачнее и понятнее - тем слаженней игровой процесс.  Важно, чтобы торговое взаимодействие было завершаемым и целостным. Игрокам должно быть ясно, в какой момент игру можно считать  оконченной, и  кто победил. Инструкция будет понятна участникам игры в том случае, если она не просто логична,  но четко простроена, а также четко и понятно объяснена. Игровые сценарии обогащаются обозначенностью игрового пространства,  наличием героев-антагонистов и разнообразием действий.
            p Процесс любого игрового взаимодействия, однажды запустив, необходимо контролировать, поддерживая должную динамику игры. Как правило, для большинства игр эта динамика высока. Игра требует от всех участников постоянной включенности.
