.roles
    .roles-heading
        h5.roles-heading__title Люди играют роли
        p.roles-heading__subtitle Сценарий управляет судьбой
    p.introductory Каждый играет свою роль. Команда - это созвездие лидерства, где каждый человек занимает свое место. Команда выступает носителем совокупной компетентности и социального творчества в полном объеме:
    .roles-autor
        .roles-autor__name Р.Белбин
        q.roles-autor__tezis Осознание своей роли в определенной команде, поможет развить ваши сильные стороны и исправлять недостатки, как командного игрока, значительно улучшая ваш вклад в неё.
    p Нестандартно мыслящий генератор идей, предметно-научно подкованный эрудит, осведомленный реалист, умеющий оценить реализационный потенциал любого решения, теоретик, мастерски проектирующий концептуальные модели
    .roles-autor
        .roles-autor__name Э.Берн
        q.roles-autor__tezis Психологическая игра — это коммуникация с другими людьми, которая включает скрытые транзакции  - психологические послания. Хорошая игра приносит пользу другим участникам и позволяет инициатору раскрыть себя.
