section.why
    .why-heading
        h2.why-heading__title Зачем играть?
        p.why-heading__subtitle Играют все
    .why__row.row
        .col
            .why-game.img
                img(data-src="./img/brain-hands.webp" data-alt="Жирафики")
                p.introductory Игра - это свод правил и способ следования им. Играют даже животные. Это природный процесс обучения.
        .col
            p Эволюционно игра сопряжена с трудом. Но и ребенок, увлеченно бинтующий понарошку мамину руку - тоже действует серьезно. Он подражает доктору.
            p Так, в игре воссоздаются реальные отношения между людьми. И в игре можно обучиться навыкам для выживания, подготовиться к сложным задачам взрослой жизни. Социализация тоже происходит через игру.
            p Любознательность, активность, готовность узнавать новое и экспериментировать: все это - эволюционные преимущества, которое человек «заработал» себе играючи, в буквальном понимании этого слова.
            p Игра - ведущая деятельность у дошкольников. Но игра помогает и взрослым формировать новые нейронные ансамбли и оставаться теми, кем мы есть, а еще - становиться лучше. Игра с детства помогает нам освоиться в мире, найти свой собственный ценностный мир и разделить его с другими, выстраивать с ними отношения и сформировать личные границы.
            p Игра нужна мозгу. Игра нужна, потому что это фундаментальная потребность человека. Это врожденный инстинкт.  Игра нужна, чтобы обменяться опытом, научиться принимать поражения, научиться делить победу. Научиться планировать, контролировать.Игра - это роль. Это внимание, память, коммуникация, реакция. А сколько положительных эмоций!