section.how-to-learn.gray-block.layout-none
    .how-to-learn__whitesheet
        .how-to-learn-heading
            h2.how-to-learn-heading__title Как научиться играть
            p.how-to-learn-heading__subtitle Играй сердцем
        .how-to-learn-content.row
            .how-to-learn-content__img.img
                img(data-src="./img/howtolearn-nastya.webp" data-alt="Как научиться играть - Анастасия")
            .how-to-learn-content__rules
                ol
                    li Улови правила и смысл игры, определи зоны ответственности
                    li Изучи игровые сценарии, рассуждай, контролируй то, что можешь
                    li Прояви фантазию, если это не противоречит правилам
                    li Почувствуй свой стиль игры, воплощай стратегию
                    li Поддерживай интерес, включенность и стремитесь к победе
                    li Опирайся на систему обратной связи, чтобы понимать, насколько ты близок к цели
                    li Получай удовольствие