.seminars-double-two
    .gray-block.layout-none.grid-container
        .text
            h2.seminars-double-two-descr__title Двигательный нейроинтенсив<br>Москва<br>22 сентября 2019
            p Мы поделились  упражнениями, наработками и опытом за уже почти 10 лет своей ежедневной работы с детьми! Практика началась  с самых первых минут встречи. Именно за практикой к нам на мастер-классы приходят логопеды, учителя, педагоги, репетиторы, психологи, специалисты, работающие с детьми.

        .pic-1
            img(src="../../../img/pic-31.png")
        .pic-2
            img(src="../../../img/pic-32.png")
        .pic-3
            img(src="../../../img/pic-33.png")
        .pic-4
            img(src="../../../img/pic-34.png")