
.bream.layout-none
    .bream__min-area
        .bream__descr "Метод замещающего онтогенеза" - 13.12.2022
    .bream__min-area
        .bream__descr "Метод замещающего онтогенеза" - 13.12.2022
    .bream__min-area
        .bream__descr "Метод замещающего онтогенеза" - 13.12.2022
    .bream__min-area
        .bream__descr "Метод замещающего онтогенеза" - 13.12.2022
    .bream__min-area
        .bream__descr "Метод замещающего онтогенеза" - 13.12.2022
    .bream__min-area
        .bream__descr "Метод замещающего онтогенеза" - 13.12.2022
    .bream__min-area
        .bream__descr "Метод замещающего онтогенеза" - 13.12.2022
    .bream__min-area
        .bream__descr "Метод замещающего онтогенеза" - 13.12.2022
    .bream__min-area
        .bream__descr "Метод замещающего онтогенеза" - 13.12.2022
    .bream__big-area
        .bream__descr "Метод замещающего онтогенеза" - 13.12.2022
.bream-mob.swiper#bream-mob.layout-none
        .bream-mob-wrapper.swiper-wrapper
            .bream-mob-slide.swiper-slide
                img(data-src="img/brain-bg.webp")
            .bream-mob-slide.swiper-slide
                img(data-src="img/brain-hands.webp")
            .bream-mob-slide.swiper-slide
                img(data-src="img/giraffe.png").bream-mob-slide.swiper-slide
                img(data-src="img/giraffe-spread.webp").bream-mob-slide.swiper-slide
                img(data-src="img/hands-main.webp").bream-mob-slide.swiper-slide
                img(data-src="img/howtolearn-nastya.webp").bream-mob-slide.swiper-slide
                img(data-src="img/main-bg.png").bream-mob-slide.swiper-slide
                img(data-src="img/marie-with-cup.webp").bream-mob-slide.swiper-slide
                img(data-src="img/mary.webp").bream-mob-slide.swiper-slide
                img(data-src="img/marie-with-cup.webp").bream-mob-scrollbar.swiper-scrollbar