.seminars-double
    .gray-block.layout-none.grid-container
        .text
            h2.seminars-double-descr__title Двигательный нейроинтенсив<br>Москва<br>9 июля  2019
            p Рассказали, как сочетать когнитивные задания с движением , как развивать межполушарные связи, координацию; как преодолеть трудности переключения,  развивать внимание. Как применять методы нейроспизологической двигательной коррекции с детьми с  ММД, СДВГ, ЗРР/ ЗПР, РАС. Продемонстрировали упражнения, направленные на развитие зрительно-моторной координации, пространственных представлений от статики к динамике, о балансе тела, ритмизации и своевременности действий, координацию дыхательного цикла, согласование работы различных мышц, сложные упражнения с переключением и двойным перекодированием условного сигнала.
        .pic-1
            img(src="../../../img/pic-29.png")
        .pic-2
            img(src="../../../img/pic-30.png")