section.spec
    .spec-heading
        h2.spec-heading__title Специалисты
        p.spec-heading__subtitle Немного о нас
    .spec__row.row
        .col
            .spec-specialist
                .spec-specialist__img.img
                    img(data-src="./img/spec/mary-1.jpg" data-alt="Мария 2")
                .spec-specialist__descr
                    p Рахмани-Тарчевская Мария
        .col
            h4 Мария Рахмани-Тарчевская
            p Психолог, клинический психолог, нейропсихолог, преподаватель психологии, автор нейропсихологических игр и методик
            strong Образование:
            ul 
                li МГУ имени М.В. Ломоносова, кафедра нейро- и патопсихологии (2007 - 2012). Психолог. Клинический психолог. Преподаватель психологии
            strong Повышение квалификации:
            ul 
                li ИПиКП - Психологическое консультирование. Психологическое консультирование, арт-терапия. 2013 - 2014
                li Курсы и стажировки: НИЦ детской нейропсихологии имени А.Р. Лурия 2013-2015: "Нейропсихологическая диагностика в детском возрасте", "Нейропсихологическая коррекция в детском возрасте", "Русский язык с нейропсихологом"
    .spec__row.row
        .col
            strong Основные направления профессиональной деятельности и область научно-практических интересов
            ul 
                li Нейропсихологическая диагностика и коррекция для детей от 3 до 12 лет
                li Нейропсихологический поход к преодолению школьных трудностей у детей: письмо, чтение и счет. Проблемы внимания у детей 3-12 лет.
                li Помощь детям с особенностями развития и поведения, при СДВГ, РАС, ЗПРР, дислексии, дисграфии, также в нормотипии (нейросихология индивидуальных различий)
                li Копинг-поведение и совладающие стратегии у школьников
                li Написание нейропсихологических заключений, составление программ сопровождения
                li Создание авторских методических материалов, пособий и игр в нейропсихологическом подходе
                li Консультирование в детско-родительских отношениях
                li Когнитивно-поведенческая психология
                li Проведение мастер-классов, семинаров по методам нейропсихологической коррекции
        .col
            .spec-specialist__img.img
                img(data-src="./img/spec/mary-2.jpg" data-alt="Мария 3")
    .spec__row.row
        .col
            strong Основные методы работы
            ul
                li Сенсомоторная коррекция по МЗО, когнитивная бланковая корреция
                li СИ (приёмы сенсорно-интегративного подхода)
                li КПТ (когнитивно-поведенческий подход)
                li Арт-терапия (преимущественно применение методов музыко-терапии)
                li Мозжечковая стимуляция
                li Биовидеоуправление
    .spec__row.row
        .col
            strong Авторские пособия
            p Авторские нейропсихологические игры и пособия
            ul
                li Нейропсихологическая игра "Раз,два,три! Сравни и забери" издательство Генезис
                li Нейропсихологическая игра "Жирафики",
                li Пособие «Внимание! Нейропсихолог на связи!» издательство Генезис,
                li "Расшифровки и не только» Нейропсихологические упражнения для развития мышления" издательство Генезис,
                li Нейропсихологическая игра для развития моторики «Руки-трюки» издательство Генезис
                li Нейропсихологическая игра "Классики" для рук


.spec
    .spec__row.row
        .col
            .spec-specialist
                .spec-specialist__img.img
                    img(data-src="./img/spec/nastya-1.jpeg" data-alt="Анастасия 2")
                .spec-specialist__descr
                    p Ульянова Анастасия.
        .col
            h4 Ульянова Анастасия
            p Психолог, детский нейропсихолог, специалист по игровой и двигательной коррекции у детей, автор игр и пособий
            strong Образование:
            ul 
                li МГУ имени М.В. Ломоносова, кафедра нейро- и патопсихологии (2007 - 2012)
                <strong>Специальность:</strong><br/>Психолог. Клинический психолог. Преподаватель психологии

            strong Повышение квалификации:
            ul 
                li НОУ ДПО "Институт психотерапии и клинической психологии" 
                    p <strong>Специальность: <br/></strong>Психологическое консультирование
                    p <strong>Квалификация: <br/></strong>Детский психотерапевт
    .spec__row.row
        .col
            ul
                li Курсы повышения квалификации А.В. Семенович "Нейропсихология детского возраста. Метод замещающего онтогенеза"
                    ul
                        li АРТ-терапия в работе с детьми и подростками, 2013
                        li Сказкотерапия в работе с детьми и подростками, 2013
                        li Игротерапия в работе с детьми и подростками, 2014
                        li Песочная терапия (sand-play) в работе с детьми, 2014
                li Русский язык с нейропсихологом: нейропсихологический подход к преодолению трудностей в овладении письмом и чтением. Научно-исследовательский Центр детской нейропсихологии им.А.Р.Лурия, 2015
                li Сенсорная интеграция: теория и практика. Fresh Brain School
                li Аутизм как неврологическое нарушение. Логопед плюс учебный центр Логопед мастер
                li Ранний детский аутизм. Основы диагностики. Логопед плюс учебный центр Логопед мастер
    .spec__row.row
        .col
            strong Опыт работы
            ul 
                li Дошкольные учреждения города Москвы и Подмосковья, детские центры развития 2010-2020 гг.
                li Государственное бюджетное образовательное учреждение города Москвы, Центр психолого-медико-социального сопровождения Строгино, 2012-2013 г.
                li Центр реабилитации после кохлеарной имплантации «Тоша и Со», 2012-2013 г., с 2020 г.
                li Преподаватель психологии. Ведущая семинаров по нейропсихологии детского возраста для специалистов смежных профессий, с 2016 г.
                li Автор нейропсихологических игр и пособий для детей, выпущенных совместно с издательством психологической литературы «Генезис».
                
        .col
            img(data-src="./img/spec/nastya-2.jpeg" data-alt="Настя 3")

    .spec__row.row
        .col
            strong В рамках нейропсихологического консультирования провожу:
            ul
                li нейропсихологическая диагностика детей дошкольного и школьного возраста;
                li нейропсихологическая диагностика детей с КИ;
                li нейропсихологическая коррекция детей с особенностями развития: ММД, ЗПР, ЗПРР, СДВГ
                li Индивидуальная и групповая нейропсихологическая коррекция для детей (от 4-х до 12 лет).
                li сенсомоторная и когнитивная нейропсихологическая коррекция детей с КИ;
                li нейропсихологическая коррекция школьной неуспеваемости;
                li патопсихологическая диагностика детей и подростков;
                li диагностика готовности к школьному обучению;
                li диагностика индивидуально-личностных, эмоционально-волевых особенностей детей и подростков;
                li коррекция индивидуально-личностных и эмоционально-волевых особенностей детей, поведенческой и коммуникативной сфер: преодоление страхов, тревожности и агрессивного поведения у детей, помощь в разрешении трудностей в обучении или поведении, взаимодействии со сверстниками;
                li консультирование родителей по вопросам детско-родительских отношений, вопросам развития, обучения, воспитания детей и подростков.
            <strong>Мой девиз:</strong>
            p «С любовью к детям, с умом к работе». 
            p Он со мной с 2009 года, когда я еще только начинала работать с детьми.
    .spec__row.row
        .col
            strong Авторские пособия
            p Авторские нейропсихологические игры и пособия, выпущенные в издательстве Генезис.
            ul
                li Игра “Руки-трюки”
                li Нейропсихологическая игра "Жирафики",
                li Игра “Раз, два, три - Сравни и забери”
                li Стимульные материалы: “Внимание, нейропсихолог на связи”
                li Пособие для развития мышления: “Расшифровки и не только”
                li Нейропсихологическая игра "Классики" для рук
