section.spec
    .spec-heading
        h2.spec-heading__title Специалисты
        p.spec-heading__subtitle Немного о нас
    .spec__row.row
        .col
            .spec-specialist
                .spec-specialist__img.img
                    img(data-src="./img/spec/mary-1.jpg" data-alt="Мария 2")
                .spec-specialist__descr
                    p Рахмани Мария
        .col
            h4 Мария Рахмани
            p Психолог, клинический психолог, нейропсихолог, преподаватель психологии, автор нейропсихологических игр и методик
            strong Образование:
            ul 
                li МГУ имени М.В. Ломоносова, кафедра нейро- и патопсихологии (2007 - 2012)
            strong Повышение квалификации:
            ul 
                li ИПиКП - Психологическое консультирование. Детская психотерапия. 2013 - 2014
                li Курсы и стажировки: НИЦ детской нейропсихологии имени А.Р. Лурия 2013-2015: "Нейропсихологическая диагностика в детском возрасте", "Нейропсихологическая коррекция в детском возрасте", "Русский язык с нейропсихологом"
            strong Квалификации:
            ul
                li психолог, клинический психолог, преподаватель психологии
                li психологическое консультирование, арт-терапия
    .spec__row.row
        .col
            strong Основные направления профессиональной деятельности
            ul 
                li Нейропсихологическая диагностика и коррекция для детей от 3 до 12 лет
                li Помощь в преодолении школьных трудностей: письмо, чтение и счет
                li Помощь детям с особенностями развития и поведения, при СДВГ, РАС, ЗПРР, дислексии, дисграфии, также в нормотипии (нейросихология индивидуальных различий)
                li Написание нейропсихологических заключений, составление программ сопровождения
                li Создание авторских методических материалов, пособий и игр в нейропсихологическом подходе
                li Психологическое консультирование (ДРО, работа с тревогой)
                li Проведение мастер-классов, семинаров по методам нейропсихологической коррекции
        .col
            .spec-specialist__img.img
                img(data-src="./img/spec/mary-2.jpg" data-alt="Мария 3")
    .spec__row.row
        .col
            strong Основные методы работы
            ul
                li Сенсомоторная коррекция по МЗО, когнитивная бланковая корреция
                li СИ (приёмы сенсорно-интегративного подхода)
                li КПТ (когнитивно-поведенческий подход)
                li Арт-терапия (преимущественно применение методов музыко-терапии)
                li Мозжечковая стимуляция
                li Биовидеоуправление
    .spec__row.row
        .col
            strong Авторские пособия
            p Авторские нейропсихологические игры и пособия
            ul
                li Нейропсихологическая игра "Раз,два,три! Сравни и забери" издательство Генезис
                li Нейропсихологическая игра "Жирафики",
                li Пособие «Внимание! Нейропсихолог на связи!» издательство Генезис,
                li "Расшифровки и не только» Нейропсихологические упражнения для развития мышления" издательство Генезис,
                li Нейропсихологическая игра для развития моторики «Руки-трюки» издательство Генезис
                li Нейропсихологическая игра "Классики" для рук


.spec
    .spec__row.row
        .col
            .spec-specialist
                .spec-specialist__img.img
                    img(data-src="./img/spec/nastya-1.jpeg" data-alt="Анастасия 2")
                .spec-specialist__descr
                    p Ульянова Анастасия.
        .col
            h4 Ульянова Анастасия
            p Психолог, детский нейропсихолог, специалист по игровой и двигательной коррекции у детей, автор игр и пособий
            strong Образование:
            ul 
                li МГУ имени М.В. Ломоносова, кафедра нейро- и патопсихологии (2007 - 2012)
            strong Повышение квалификации:
            ul 
                li НОУ ДПО "Институт психотерапии и клинической психологии" 
                    p <strong>Специальность: <br/></strong>Психологическое консультирование
                    p <strong>Квалификация: <br/></strong>Детский психотерапевт
    .spec__row.row
        .col
            ul
                li Курсы повышения квалификации А.В. Семенович "Нейропсихология детского возраста. Метод замещающего онтогенеза"
                    ul
                        li АРТ-терапия в работе с детьми и подростками
                        li Сказкотерапия в работе с детьми и подростками
                        li Игротерапия в работе с детьми и подростками
                        li Песочная терапия (sand-play) в работе с детьми
                li Русский язык с нейропсихологом: нейропсихологический подход к преодолению трудностей в овладении письмом и чтением. Научно-исследовательский Центр детской нейропсихологии им.А.Р.Лурия
                li Сенсорная интеграция: теория и практика. Fresh Brain School
                li Аутизм как неврологическое нарушение. Логопед плюс учебный центр Логопед мастер
                li Ранний детский аутизм. Основы диагностики. Логопед плюс учебный центр Логопед мастер
    .spec__row.row
        .col
            strong Опыт работы
            ul 
                li Государственное бюджетное образовательное учреждение города Москвы, Центр психолого-медико-социального сопровождения.
                li Дошкольные учреждения города Москвы и Подмосковья, детские центры развития.
                li Центр реабилитации после кохлеарной имплантации
            p Преподаватель психологии. Ведущая семинаров по нейропсихологии детского возраста для специалистов смежных профессий
                
        .col
            img(data-src="./img/spec/nastya-2.jpeg" data-alt="Настя 3")

    .spec__row.row
        .col
            strong В рамках нейропсихологического консультирования провожу:
            ul
                li Нейропсихологическая диагностика (от 4-х до 12 лет)
                li Комплексная диагностика, включает в себя нейропсихологическую диагностику и оценку эмоционально-личностной сферы ребёнка (от 5 до 12 лет)
                li Диагностика готовности ребенка к обучению в школе
                li Индивидуальная и групповая нейропсихологическая коррекция для детей (от 4-х до 12 лет).
                li Когнитивная и двигательная коррекция, включающая метод: «Метод замещающего онтогенеза.» (от 5 до 12 лет)
                li Трудности обучения в школе
                li Коррекция нарушений письма и чтения у школьников (дисграфии и дислексии)
                li Ведущая групповых занятий для детей по программе "Играем без компьютера"
    .spec__row.row
        .col
            strong Авторские пособия
            p Авторские нейропсихологические игры и пособия, выпущенные в издательстве Генезис.
            ul
                li Игра “Руки-трюки”
                li Нейропсихологическая игра "Жирафики",
                li Игра “Раз, два, три - Сравни и забери”
                li Стимульные материалы: “Внимание, нейропсихолог на связи”
                li Пособие для развития мышления: “Расшифровки и не только”
                li Нейропсихологическая игра "Классики" для рук
