.what-to-play
    .what-to-play-heading
        h2.what-to-play-heading__title Во что играть?
        p.what-to-play-heading__subtitle гид по играм
    .what-to-play__types.row
        p Игры бывают
        p Когда играть
    .row
        p.what-to-play__type Подвижные
        p.what-to-play__descr Особенно нужны нам в школьном и дошкольном возрасте,  требуют активных действий, сноровки, умения принимать решения и действовать за команду,  развивают нас физически и учат ответственности, заряжают энергией
    .row
        p.what-to-play__type Сюжетно-ролевые
        p.what-to-play__descr Играют важную роль в дошкольном возрасте, моделируя различные социальные отношения и объекты материального мира, оттачивают навыки работы в коллектива - распределение ролей, задач. Эти игры отражают общественные отношения и опыт. У детей - это игра  в больницу, у взрослых - в мафию.
    .row
        p.what-to-play__type Познавательные
        p.what-to-play__descr Они же дидактические, направлены на обучение. Такие игры усиливают впечатления  от процесса обучения, позволяют переосмыслить полученные знания, расставляют точки  внимания. Учат рассуждать и адаптивно действовать, исходя из поставленных задач и условий
    .row
        p.what-to-play__type Компьютерные
        p.what-to-play__descr Позволяют сбросить напряжение, улучшить внимание (особенно, шутеры),  наглядно представляют результаты совместной деятельности персонажей в разных условиях,  помогают избежать штаммов в оценке поведения, демонстрируют репертуар способов  эмоционального и поведенческого реагирования. Учат нас принимать прогнозируемые  решения быстро, но тактически взвешенно.
    .row
        p.what-to-play__type Спортивные
        p.what-to-play__descr Связаны с соревнованием, противоборством, укрепляют крупные группы мышц, развивают силу, быстроту, ловкость, выносливость, лидерство и способность к соотнесению  собственных интересов интересам команды.
    .row
        p.what-to-play__type Настольные и бланковые
        p.what-to-play__descr Развивают в нас логику,  раскрывают нас с новой стороны, формируют усидчивость, коммуникацию, самоконтроль. Такие игры сближают и  помогают снизить стресс. Учат глубоко продумывать ходы, аргументировать позицию, как, например, в шахматах.
    .row
        p.what-to-play__type Коррекционные и восстановительные
        p.what-to-play__descr С помощью них можно преодолевать трудности, вызванные особенностями развития, поражениями центральной нервной системы, направлять деятельность в период восстановления после травм. Специальные игры с виртуальной реальностью и биовидеоуправлением позволяют преодолевать постинсультные состояния, поведенческие особенности при гиперактивности, аутизме. Такие игры, если ими не злоупотреблять, служат цифровым лекарством для многих расстройств. <br><br>Между коррекционными и восстановительными играми есть отличие: корректируем мы то, что еще не сформировано, как правило, у детей. А восстанавливаем то, что было сформировано, но нарушено - чаще у взрослых.
    .row
        p.what-to-play__type Межличностные, социальные
        p.what-to-play__descr Протекают часто по скрытым правилам. И цель игры - эти правила установить. Это игры с личностным ориентированием взаимодействия партнеров. Сюда относятся и любовные игры, флирт, и аффилиативные игры с погоней-преследованием (есть у даже у дельфинов), мнимой борьбой, дружеские подразнивания, семейные драмы. Здесь же - опасные нарциссические игры, в которые инициатор вовлекает жертву. Это игры с манипуляциями - жертва, преследователь, спасатель.
    .row
        p.what-to-play__type Бизнес-игры, мотивационные и коучинговые
        p.what-to-play__descr Отслеживать достижения. Признание и визуализация своих побед укрепляет уверенность в себе, помогает понять, насколько вы ближе к цели. Повысить личную эффективность, делегировать полномочия, повысить эффективность каждого сотрудника. Такая система персонализированного управления ответственностью делает ощутимой ценность и отдачу каждого сотрудника компании.
