.gamification.gray-block.layout-none
    .gamification__whitesheet
        .gamification-heading
            h2.gamification-heading__title Геймификация <br>и жизнь
            p.gamification-heading__subtitle Цель - удовольствие. Возможности безграничны
        .row
            p.introductory Геймификация - проникновение игровых подходов в неигровые процессы.
        .gamification-application
            .row
                p <strong>Где применять</strong>
            .gamification-application__row.row
                p В обучении
                p В бизнесе
                p В повседневности
            .row
                p <strong>Для чего?</strong>
            .gamification-forwhat__row.row
                p побуждать усвоению знаний, сделать процесс обучения захватывающим, веселым - это влияет на успех и результативность
                p вовлечь сотрудников в решение прикладных задач, клиентов в использование продуктов и услуг, повысив их лояльность, принимать решения, проигрывая ситуации в симуляторе
                p влиять на личную эффективность, повысить мотивацию, используя систему отслеживания прогресса и механику достижений, игровые сценарии, ежедневные мини-игры