section.game-and-brain
    section.game-and-brain-with-bg.layout-none
        .game-and-brain-heading
            h4.game-and-brain-heading__title Игра и мозг
            p.game-and-brain-heading__subtitle Игра - познавательный процесс
        .game-and-brain-quotes
            p.game-and-brain-quotes__quote "Игра способствует развитию чувств и волевой регуляции поведения, потому что, играя, ребенок подчиняется правилам. Через игровые отношения ребенок знакомится с поведением и взаимоотношениями взрослых людей и приобретает основные навыки общения и самосознания. В игре формируются новые мотивы и потребности: соревновательные, игровые; зарождаются новые виды продуктивной деятельности.
            span.game-and-brain-quotes__space <...>
            p.game-and-brain-quotes__quote В игре ребенок всегда выше своего средне­го возраста, выше своего обычного повседневного поведе­ния; он в игре как бы на голову выше самого себя. Игра в конденсированном виде содержит в себе, как в фокусе увели­чительного стекла, все тенденции развития; ребенок в игре как бы пытается сделать прыжок над уровнем своего обычно­го поведения"
            p.game-and-brain-quotes__name Л.С. Выготский
    section.game-and-brain-without-bg
        h3.game-and-brain Игра и личность
        .game-and-brain-content__subheading Игра - элемент развития мышления
        .game-and-brain-content.row
            .game-and-brain-content__img.img
                img(data-src="./img/marie-with-cup-minimal-2.webp" data-alt="Игра и мозг - Мария")
            .game-and-brain-content__text
                ol
                    li Игра дает мозгу шанс на переключение, подталкивая мышление к деклишированиею, к дестереотипизации
                    li Игра выкристаллизовывает зону ближайшего развития. То, что я не имею делать сегодня, но сумею завтра.
                    li Игра с правилами - это игра с мнимыми ситуациями. В игре можно оперировать оторванными значением, но в реальной ситуации.
                    li Мозг не только сохраняет прежний опыт, но и способен к творческому созиданию - видоизменять настоящее!
                    li Из игры с правилами развивается воля. В игре есть побуждение к деятельности.
                    li В игре вызревают новые потребности (то что интересно младенцу не будет интересно дошкольнику)