.play.gray-block.layout-none
    .play__whitesheet
        .play-heading
            h3.play-heading__title Играй
        .play-content.row
            .play-content__img.img
                img(data-src="../img/play-nastya.webp" data-alt="Играй - Настя")
                p.play-content-specialist__descr У игры нет цели, но цель есть в игре
            .play-text
                p.introductory Игровая активность помогает «вылепить» наш мозг
                p С помощью игры в коррекции мы буквально творим чудеса.
                p Незаметно для себя ребенок взрослый  осваивает новые схемы поведения, обучается и становится чуточку счастливее.
                .play-text__img
                    img(data-src="../img/nastya-squares.webp")
        .play-heading
            h3.play-heading__title А Мы можем создать игру
        .play-content.row
            .play-text
                p.introductory Игра может воссоздать и преобразовать действительность. Игра способна вовлечь, удержать. и решить задачи бизнеса.
                ul
                    li Разработка игровых механик для настольных, бланковых игр, создание игровых сценариев и персонажей для ролевых и компьютерных игр
                    li Геймификация  и интерактивизация в бизнесс-процессах и образовании
                    li Учет нейропсихологических физиологических аспектов деятельности
            .play-content__img.img
                img(data-src="../img/nastya-with-games-crop.webp" data-alt="Играй - Настя")
