.act-playing.gray-block.layout-none
    .act-playing__whitesheet
        .act-playing-heading
            h2.act-playing-heading__title Действуй, играя
            p.introductory Игра – это состояние сознания, благодаря которому мы становимся более приспособленными
        .act-playing-content.row
            .act-playing-content__img.img
                img(data-src="./img/maria-with-pen.webp" data-alt="Действуй играя - Мария")
            .act-playing-content-text
                p В повседневности геймификация может быть виртуозно встроена в трекер активности  и служить опцией настраиваемого помощника на пути к любой цели (рабочих или личных достижений).
                p Такая опция востребована в сегментах пользователей, нуждающихся во внешних мотивационных механизмах. Она может быть реализована в виде персонажа с набором критериев, установленных пользователем. Этого персонажа нужно победить, например, если речь идет о прокрастинации. Наши специалисты консультировали представителей EdTech-проектов на предмет повышения эффективности их мотивационных систем при обучении. В частности, школу программирования для детей «Алгоритмика».
