.video-slider
    h3 Мы в СМИ
    .video-slider-wrapper.swiper#video-slider
        .swiper-wrapper
            .video-slider-slide.swiper-slide
                video.video-player(playsinline, controls, data-poster='img/video-cover.png')
                    source(src='img/videos/victory.mp4', type='video/mp4')
            .video-slider-slide.swiper-slide
                video.video-player(playsinline, controls, data-poster='img/video-cover.png')
                    source(src='img/videos/tictac.mp4', type='video/mp4')
            .video-slider-slide.swiper-slide
                video.video-player(playsinline, controls, data-poster='img/video-cover.png')
                    source(src='img/videos/sacs.mp4', type='video/mp4')
            .video-slider-slide.swiper-slide
                video.video-player(playsinline, controls, data-poster='img/video-cover.png')
                    source(src='img/videos/rubbers.mp4', type='video/mp4')
            .video-slider-slide.swiper-slide
                video.video-player(playsinline, controls, data-poster='img/video-cover.png')
                    source(src='img/videos/rabbit.mp4', type='video/mp4')
            .video-slider-slide.swiper-slide
                video.video-player(playsinline, controls, data-poster='img/video-cover.png')
                    source(src='img/videos/dog.mp4', type='video/mp4')
            .video-slider-slide.swiper-slide
                video.video-player(playsinline, controls, data-poster='img/video-cover.png')
                    source(src='img/videos/clap.mp4', type='video/mp4')
            .video-slider-slide.swiper-slide
                video.video-player(playsinline, controls, data-poster='img/video-cover.png')
                    source(src='img/videos/apples.mp4', type='video/mp4')
        .video-slider-pagination.swiper-pagination
        .video-slider-navigation
            .video-slider-button-prev.swiper-button-prev
            .video-slider-button-next.swiper-button-next 