.seminar-video
    .row
        video#player(playsinline, controls, data-poster='../img/video-cover.png')
            source(src='../img/igroteka-1.mp4', type='video/mp4')
            source(src='../img/igroteka-1.webm', type='video/webm')
            //- track(kind='captions', label='English captions', src='/path/to/captions.vtt', srclang='en', default)
        video#player(playsinline, controls, data-poster='../img/video-cover.png')
            source(src='../img/igroteka-2.mp4', type='video/mp4')
            source(src='../img/igroteka-2.webm', type='video/webm')
            //- track(kind='captions', label='English captions', src='/path/to/captions.vtt', srclang='en', default)