section.our-games
    .our-games-heading
        h3.our-games-heading__title Игры, которые мы создали
        p.our-games-heading__subtitle Играй сердцем
    section.our-games-titles

        .our-games-titles__item
            .our-games-titles__row.row
                img(data-src="./img/tricks.webp")
                img(data-src="./img/tricks-develops.webp")
                .our-games-titles__info
                    h1.our-games-titles__title.introductory Руки-трюки
                    p.our-games-titles__subtitle «Руки-трюки» — это настольная игра для развития мелкой моторики.<br><br>Доступка к покупке на маркетплейсах страны<br><br>Игра выпущена совместно с издательством Психологической литературы Генезис<br><br>Реализовано более 5000 игр (тираж)
            .our-games-titles__task.row.row__mini
                img(data-src="./img/tricks-infinity.webp")
                img(data-src="./img/tricks-palm.webp")
                img(data-src="./img/tricks-contains.webp")
            .our-games-titles__descr
                p Задача игрока — быстрее соперника воспроизвести положения рук, удерживая предметы так, как изображено на карточках.
                p На карточках нарисованы руки, удерживающие между пальцами мелкие предметы (жетоны, фишки, кубики, резиночки), рядом с каждым игроком лежат те же предметы, которые изображены на карточках.
        .our-games-titles__item.our-games-titles__item--gray
            .gray-block.layout-none
                .our-games-titles__whitesheet
                    .our-games-titles__row.row
                        img(data-src="./img/giraffes.webp")
                        // img(data-src="./img/neuropsy-connect-inside.webp")
                        .our-games-titles__info
                            h1.our-games-titles__title.introductory Жирафики
                            p.our-games-titles__subtitle Острожно, вызывает "шевеление" мозгов!<br><br>Игра развивает внимание, мышление, восприятие! А самое главное - формирует и закрепляет у ребёнка способность к программированию, регуляции и контролю собственной деятельности.
                            .our-games-titles__mini-photos
                                img(src="../../../img/giraffes-mini-1.jpeg")
                                img(src="../../../img/giraffes-mini-2.jpeg")
                                img(src="../../../img/giraffes-mini-3.jpeg")
                                img(src="../../../img/giraffes-mini-4.jpeg")
                    .our-games-titles__task.row
                        .our-games-titles__descr
                            p Часто ли ваш ребенок сначала делает, а потом думает?
                            p Такое поведение говорит об импульсивности в решениях - реакции без достаточного самоконтроля!
                            p Именно на преодоление такой импульсивности направлена игра "Жирафики"! Игра развивает внимание, мышление, восприятие! А самое главное - формирует и закрепляет у ребёнка способность к программированию, регуляции и контролю собственной деятельности.
        .our-games-titles__item
            .our-games-titles__row.row
                img(data-src="./img/123.webp")
                img(data-src="./img/123-set.webp")
                .our-games-titles__info
                    h1.our-games-titles__title.introductory Раз, два, три, сравни и забери!
                    p.our-games-titles__subtitle Игра развивает: внимание, память, мышление, зрительное восприятие, речь.<br><br>Игра нравится детям и родителям, а также специалистам (нейропсихологам, психологам, логопедам, дефектологам, педагогам, воспитателям).
            .our-games-titles__row
                p В набор входят: 54 карты (2 одинаковых набора по 27 карт) с изображениями: членов семьи (мама , папа, сын, их питомцев (кот, собака, птичка) и домашних растений (трава, кактус, цветок) в разных комбинациях; 10 карт с изображением действий («мозголомок»); 2 инструкции (для родителей и для специалистов); памятка для игроков. Рекомендуемый возраст: от 5 лет.
                p Основная задача игроков - быстрее соперников найти среди разложенных на столе карт комбинацию из трех карт, которые различаются по одному, двум или трем признакам, и схватить их, предварительно совершив определенное действие. Выигрывает тот игрок, кто собрал больше всех карт!
                p В чем польза игры?
                p Сравнивая изображения одновременно по нескольким признакам, находя и называя различия и сходства, ребенок осваивает операции сравнения, учится контролировать свое поведение - сначала думать, а потом делать.
                p В игре также развиваются внимание, память, мышление, зрительное восприятие и речь.

            .our-games-titles__task.row.our-games-title__task--single
                img(data-src="./img/123-games.webp")
            .our-games-titles__descr
                p Поиграем?
                p Задача игрока:
                p Быстрее соперника собрать набор из трех карт, так чтобы в наборе карты различались: либо по одному признаку, а по остальным совпадали, либо по двум признакам, а по одному совпадали (например, везде папа, а животные и растения разные). Либо по всем трем признакам,  не совпадая ни по одному (персонажи разные, животные разные и растения разные)
                p Попробуйте найти верный набор

