.modal.layout-none
    .modal__inner
        .modal__content
            .modal__button--wrapper(data-close)
                button#modal__button.modal__button(type="button")
            .our-games-modal
                .our-games-modal__img.img__empty
                    img(data-src="./img/neuropsy-connect.webp" data-alt="Название картинки")
                .our-games-modal__descr
                    h4 Заголовок игры
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa cum dolore doloremque eius et iure iusto maxime obcaecati ut.