.seminars.seminars-part-two
    .gray-block.layout-none.grid-container
        .big-picture-1.picture
            img(src="../../../img/pic-10.png")
        .big-picture-2.picture
            img(src="../../../img/pic-11.png")
        .big-picture-3.picture
            img(src="../../../img/pic-12.png")
        .pic-1.picture
            img(src="../../../img/pic-13.png")
        .pic-2.picture
            img(src="../../../img/pic-14.png")
        .text
            h2.seminars-part-one-descr__title Семинар "Эффективное занятие с ребенком, практика нейропсихолога"<br>Фрязино<br>18 марта 2018

            p для специалистов уникального центра реабилитации детей после кохлеарной имплантации "Тоша и Со"