.seminars-part-seven
    .gray-block.layout-none.grid-container
        .text
            h2.seminars-part-seven-descr__title Семинары по двигательной коррекции и нейропсихологической диагностике<br>Рязань
        p.date-1.subtitle 3 декабря 2017
        p.date-2.subtitle 18 февраля 2018
        .big-picture
            img(src="../../../img/big-picture-4.png")
        .pic
            img(src="../../../img/pic-28.png")
        .text-2
            p В семинарах приняли участие логопеды, психологи, дефектологи,  педагоги, неврологи, кинезиологи,  специалисты по адаптивной физической культуре.

