section.manuals
    .manuals-heading
        h3.manuals-heading__title Пособия, которые мы создали
        p.manuals-heading__subtitle Учись, играя
    section.manuals-titles
        .manuals-titles__item
            .manuals-titles__row.row
                img(data-src="./img/decryption.webp")
                img(data-src="./img/decryption-set.webp")
                .manuals-titles__info
                    h1.manuals-titles__title.introductory Расшифровки и не только
                    p.manuals-titles__subtitle Развиваем логическое и пространственное мышление у детей от 6 до 12 лет.<br><br>Материалы трех видов: "Расшифровки", "Перестановки", "Замены" от простого к сложному.
            .manuals-titles__task.row
                .manuals__images
                    img(data-src="./img/decryption-games-1.webp")
                p Комплект предназначен для развития логического и пространственного мышления у детей от 6 до 12 лет. Упражнения комплекта также направлены на развитие функций программирования, регуляции и контроля собственной деятельности. Комплект состоит из трех блоков: «Расшифровки», «Перестановки» и «Замены». В каждом блоке свой тип заданий, внутри одного блока задания выстроены по степени сложности и представляют собой систему упражнений, тренирующую навык поэтапного решения задач.

        .manuals-titles__item.manuals-titles__item--gray
            .gray-block.layout-none
                .manuals-titles__whitesheet
                    .manuals-titles__row.row
                        img(data-src="./img/neuropsy-connect.webp")
                        img(data-src="./img/neuropsy-connect-inside.webp")
                        .manuals-titles__info
                            h1.manuals-titles__title.introductory Внимание, нейропсихолог на связи!
                            p.manuals-titles__subtitle Комплект материалов для развития внимания (6 - 12 лет)<br><br>В комплект входят задания категорий буквенная "Муха", числовая "Муха" и корректурные пробы
                    .manuals-titles__task.row
                        p Определи, с чем имеешь дело (найди узнаваемое конечное изображение) Найди исходную точку: Изображение, где элементов минимумЗапомни (удержи, запиши) букву, которая встретилась на этом этапеПродолжай в том же духе, пока не дойдешь до конечного изображения Назови слово

section.manuals
    section.manuals-titles
        .manuals-titles__item
            .manuals-titles__row.row
                img(data-src="./img/classics/сlassics-1.jpeg")
                img(data-src="./img/classics/сlassics-2.png")
                .manuals-titles__info
                    h1.manuals-titles__title.introductory "Классики" для рук
                    p.manuals-titles__subtitle Комплект материалов для развития манулального праксиса (6 - 12 лет)<br /><br />Всем знакомые "Двороные классики" в переложении для прыжков пальчиками
            .manuals-titles__task.row
                .manuals__images
                    img(data-src="./img/classics/сlassics-3.png")
                p Всем знакома игра в классики: на асфальте мелом расчерчивается поле из клеток, которое играющие должны пропрыгать от края до края, вставая на каждую клетку то одной ногой, то другой, то двумя сразу. Мы же предлагаем применить всем известную игру для тренировки пальцевого праксиса (способности выполнять точные и мелкие движения кистями и пальцами рук). Прыгать по клеточкам поля будем то руками, то пальцами, используя разные движения для каждой руки и пытаясь согласовать движения друг с другом.

        .manuals-titles__item.manuals-titles__item--gray
            .gray-block.layout-none
                .manuals-titles__whitesheet
                    .manuals-titles__row.row
                        img(data-src="./img/сlassics-4.png")
                        .manuals-titles__info
                            p.manuals-titles__subtitle Комплект материалов для развития внимания (6 - 12 лет)<br><br>В комплект входят задания категорий буквенная "Муха", числовая "Муха" и корректурные пробы
                    .manuals-titles__task.row
                        p Определи, с чем имеешь дело (найди узнаваемое конечное изображение) Найди исходную точку: Изображение, где элементов минимумЗапомни (удержи, запиши) букву, которая встретилась на этом этапеПродолжай в том же духе, пока не дойдешь до конечного изображения Назови слово