.seminars-main
    .gray-block.layout-none.grid-container
        .pic-1
            img(src="../../../img/pic-4.png")
        .pic-2
            img(src="../../../img/pic-5.png")
        .pic-3
            img(src="../../../img/pic-6.png")
        .text
            h2.seminars-descr__title «НЕЙРОПСИХОЛОГИЧЕСКАЯ ПОМОЩЬ ДЕТЯМ С ТРУДНОСТЯМИ В ШКОЛЬНОМ ОБУЧЕНИИ (ПИСЬМО, ЧТЕНИЕ, СЧЕТ)»<br>Москва<br>8 апреля  2018

            p На семинаре мы поговорили о современных тенденциях в нейропсихологии детского возраста и системе образования, рассказали о причинах массового снижения успеваемости и возникновения трудностей в обучении у школьников – 7-12 лет и коррекционных методах.

            p Мы показали, как можно сформировать стойкий фундамент для обучения и научить ребенка получать удовольствие от процесса обучения! На семинаре слушатели получили не только теоретические знания, но и пополнили свой арсенал методик практическими материалами, которые сможете успешно использовать на любом вашем занятии.

            p С нами были коллеги из  Москвы, Новочеркасска, Железнодорожного, Рязани, Воскресенска!
