section.how-its-done
    .how-its-done-heading
        h2.how-its-done-heading__title Как рождаются игры
        p.how-its-done-heading__subtitle Все начинается с идеи
    .how-its-done__row.row
        .col
            .how-its-done-specialist
                .how-its-done-specialist__img.img
                    img(data-src="./img/mary.webp" data-alt="Мария")
                .how-its-done-specialist__descr
                    p Рахмани-Тарчевская Мария <br>Клинический  психолог, нейропсихолог, исследователь пользовательского опыта, автор  нейропсихологических игр и методик
        .col
            p.introductory.introductory__quotes Первым делом мы пишем питч: рабочее название и описание игры буквально в одном предложении. Это исходная точка.
            p На этом  этапе  важно  представить  две  вещи: как  будет происходить  процесс  и  на  что  он  повлияет.  То  есть  каких мы хотим целей добиться: развлекательных, коррекционных, научить  чему-то, объединить  команды, это  может быть несколько  целей.
            p Сначала оформляется идея -  общая задумка, -  потом появляются правила, основные механики. Затем расставляем точки контроля, подвергаем критике то, что сделали, находим ошибки, а вслед за ними - компромиссы. А дальше - дело техники. Стилизация, оформление, внешний облик, подача. Главное - держать в голове конечный результат. И он должен быть понятен тебе и интересен другим. И наоборот)
.how-its-done
    .how-its-done__row.row
        .col
            p.introductory.introductory__quotes.introductory__quotes--left Нужно просто начать. С энтузиазмом!
            p Представить игру и начать играть. Можно начать со словесных игр,  вспомнить дворовые игры,  наработать игровую интуицию.  Дальше создать что-то из подручных материалов, игра потом оформится. Но сначала это не важно. Важно содержание. И вот, вслед за ним, уже игровая интрига появляется.
            p И вот уже развивается сюжет, появляется азарт. Идеи уже в воздухе, осталось только поймать и придать форму.  И преподнести остальным. Еще важно наблюдать за тем, как ведут  себя игроки в жизни. И перенести эти явления в игру. В игре можно доносить идеи, обучать - главное, ответить себе на вопросы: «Зачем я это делаю?» И «что это даст тем, кто будет играть?»
        .col
            .how-its-done-specialist
                .how-its-done-specialist__img.img
                    img(data-src="./img/nastya.webp" data-alt="Анастасия")
                .how-its-done-specialist__descr
                    p Ульянова Анастасия. <br>Клинический психолог, детский нейропсихолог, специалист по игровой и двигательной коррекции у детей, автор игр и пособий
