.creativity {
  margin-block-end: $ind;

  &-with-bg {
    display: inline-block;
    position: relative;
    min-height: 600px;
    margin-block-end: $ind;
    padding-inline: 17.85vw;
    color: $white;
    background: url('../img/site-plus-brain.webp') center 25%/cover no-repeat;

    &::before {
      content: '';
      position: absolute;
      z-index: 100;
      inset-block-start: 0;
      inset-inline-start: 0;
      width: 100%;
      height: 100%;
      background-color: #000000a9;
    }
  }

  &-heading {
    display: inline-block;
    position: relative;
    z-index: 200;
    margin-block-end: $indmax;

    &__title {
      color: $white;
    }

    &__subtitle {
      font-size: clamp(1.2rem, 1.5vw + 0.8rem, 1.75rem);
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  .introductory {
    border-color: #fff;
  }

  &-content {
    position: relative;
    z-index: 200;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .creativity {
    &-width-bg {
      padding-inline: 2vw;
    }
  }
}
