section.creativity
    section.creativity-with-bg.layout-none
        .creativity-heading
            h4.creativity-heading__title Люди играют в игры
            p.creativity-heading__subtitle Креативность создания в культурогенезисе
        .creativity-content
            p.introductory Сегодня на смену компетенции знаний-умений-навыков пришла парадигма компетенций, где важна мобильность разума в критических, непредсказуемых ситуациях
            p Среда постоянно повышает конкурентные требования. Важно уметь подвижно адаптироваться и действовать. Правильно выстроенная игра позволяет развить компетентностное поле личности, системное принятие решений, поведенческую независимость, дестереотипизацию сознания, эмоциональный интеллект, критическое мышление и системное принятие решений, стрессоустойчивость, коммуникативные компетенции, рефлексивность - фундамент полноценной самоактуализации.
            p Задумайтесь, сколько раз в день вы неосознанно вводите простые игровые механики в жизнь: в метро, пока считаете, сколько осталось остановок, в лифте, пока ищете, появилась ли новая неприличная надпись, переходя улицу по зебре, стараясь наступать только на белые полоски,, когда ставите себе таймер, чтобы успеть доделать документ до  того, как он прозвенит.