.contact.gray-block.layout-none
    .contact__whitesheet
        .contact-heading
            h3.contact-heading__title Свяжитесь с нами
        //.contact-content.row
        //    .contact__text
        //        p Игровая активность помогает «вылепить» наш мозг
        //        p С помощью игры в коррекции мы буквально творим чудеса.
