.contact {
  display: none;
  padding-inline: $layout-margin;
  background-color: rgb(51 51 51 / 58%);

  &__whitesheet {
    background-color: #fff;
    margin-block: $indmax;
    padding: $ind $indmax;
  }

  &-heading {
    &__subtitle {
      font-size: clamp(1.2rem, 1.5vw + 0.8rem, 1.75rem);
      font-weight: 900;
      text-transform: uppercase;
      color: rgb(51 51 51 / 58%);
    }
  }

  &-content {
    &__img {
      img {
        height: 516px;
      }
    }

    &-specialist {
      &__descr {
        font-size: 0.75rem;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    padding-inline: 2vw;
  }
}
