.seminars-bigandsmall
    .gray-block.layout-none.grid-container
        .big-picture
            img(src="../../../img/big-picture-1.png")
        .pic
            img(src="../../../img/big-picture-mini.png")
        .text
            h2.seminars-bigandsmall-descr__title Блок детской нейропсихологии на курсах повышения квалификации  для специалистов смежных профессий в центре реабилитации после кохлеарной имплантации<br>Фрязино<br>24 ноября 2021
        .text-mini
            p Центр реабилитации слуха и речи «Тоша&Co» делился уникальным опытом по системному обучению кохлеарноимплантированных детей и взрослых.

            p В Российской Федерации активно реализуется государственная программа восстановления слуха глухих детей с помощью операции кохлеарной имплантации (КИ). Результативность КИ определяется  в том числе организацией адекватной психолого-педагогической помощи после операции, использованием специальных подходов и методов при развитии ребенка с нарушенным слухом, взаимодействием различных специалистов.

            p На лекциях ведущие :

            ul
                li знакомили слушателей с методами коррекционной работы с детьми с разными видами нарушения развития (с КИ, с СА или с нормой слуха) в соответствии с их возрастными, сенсорными и интеллектуальными особенностями
                li обсуждали способы эффективного взаимодействия с родителями и включения их в процесс реабилитации/образования
