.seminars-part-six {
  margin-block-start: -40px;

  .gray-block {
    margin-block-end: 20px;
    padding-inline: 17.85vw;
    background-color: rgba(51, 51, 51, 0.58);
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto repeat(2, 250px);
    gap: 20px;
    grid-template-areas:
    "text text text text"
    "pic-1 pic-2 big-picture big-picture"
    "pic-3 pic-4 big-picture big-picture";
  }

  .big-picture {
    grid-area: big-picture;
  }

  .pic-1 {
    grid-area: pic-1;
  }

  .pic-2 {
    grid-area: pic-2;
  }

  .pic-3 {
    grid-area: pic-3;
  }

  .pic-4 {
    grid-area: pic-4;
  }

  .pic-1, .pic-2, .pic-3, .pic-4, .big-picture {
    img {
      margin: 0;
      height: 100%;
    }
  }

  .text {
    padding-block: 2vh;
    padding-inline: 2vw;
    grid-area: text;
    color: #fff;

    h2 {
      color: #fff;
    }

    a {
      border-bottom-color: #fff;
    }
  }
}
