.seminars-one
    .gray-block.layout-none.grid-container
        .text
            h2.seminars-one-descr__title Сенсомоторная коррекция. Нейропсихологическая помощь детям с трудностями в школьном обучении<br>Нижний Новгород<br>20 октября 2019
            p В нашей сфере встречаются техники, приемы и упражнения, о которых не написано в учебниках, потому что  во-первых, все попытки сделать описание сводятся к тому, что описание действительно появляется, но трудночитаемые, читатели жалуются, что им не понятны нюансы. <br>Поэтому важно передавать опыт именно из рук в руки.

        .pic
            img(src="../../../img/pic-35.png")